<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="blog.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="blog.dao.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="des" property="des" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, password, level, des, tel, address
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from b_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from b_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="blog.dao.User">
		insert into b_user (id, name, password,
		level, des, tel, address
		)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{level,jdbcType=INTEGER}, #{des,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="blog.dao.User">
		insert into b_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="des != null">
				des,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="address != null">
				address,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="des != null">
				#{des,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="blog.dao.User">
		update b_user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="des != null">
				des = #{des,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="blog.dao.User">
		update b_user
		set name = #{name,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		level = #{level,jdbcType=INTEGER},
		des = #{des,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 自己编写的方法 -->
	<select id="getUserDetailsById" parameterType="java.lang.Integer"
		resultType="blog.dto.output.UserDetails">
		select * from b_user where id=#{id}
	</select>
	<select id="getUserListByLevel" resultType="blog.dao.User">
		select * from b_user where 1=1
		<if test="level!=null">and level=#{level}</if>
		<if test="username!=null">and name like '%${username}%'</if>
	</select>
	<delete id="deleteByIdList">
	  delete from b_user where id in
	  <foreach collection="idList" index="index" item="item" open="("  separator="," close=")">
	   #{item}
	  </foreach>
	</delete>
	<select id="getUserNameCount" parameterType="java.lang.String" resultType="java.lang.Integer">
	 select count(id) from b_user where name=#{username}
	</select>
	<select id="getByUserName" parameterType="java.lang.String" resultType="blog.dao.User">
	 select * from b_user where name=#{username}
	</select>
</mapper>